<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.texas.easilendar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.outsides.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.outsides.SignUpActivity"
            android:label="@string/sign_up_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.outsides.LoginActivity"
            android:label="@string/login_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.outsides.ForgotPasswordActivity"
            android:label="@string/forgot_password_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <!-- <activity -->
        <!-- android:name=".ui.calendars.MonthCalendarActivity" -->
        <!-- android:label="@string/month_calendar_title" /> -->
        <activity
            android:name=".ui.calendars.WeekCalendarActivity"
            android:label="@string/week_calendar_title" />
        <!-- <activity -->
        <!-- android:name=".ui.calendars.EventsCalendarActivity" -->
        <!-- android:label="@string/events_calendar_title" /> -->
        <activity
            android:name=".ui.helpers.SettingsActivity"
            android:label="@string/settings_title" />
        <activity
            android:name=".ui.profiles.RegisterAnonymousActivity"
            android:label="@string/register_anonymous_title" />
        <activity
            android:name=".ui.profiles.LinkMyAccountActivity"
            android:label="@string/link_my_account_title" />
        <activity
            android:name=".ui.profiles.ChangePrivacyActivity"
            android:label="@string/change_privacy_title" />
        <activity
            android:name=".ui.profiles.EditProfileActivity"
            android:label="@string/edit_profile_title" />
        <activity
            android:name=".ui.profiles.MyProfileActivity"
            android:label="@string/my_profile_title" />
        <activity
            android:name=".ui.helpers.CalendarsActivity"
            android:label="@string/calendars_title" />
        <activity
            android:name=".ui.profiles.SharedWithMeActivity"
            android:label="@string/shared_with_me_title" />
        <activity
            android:name=".ui.features.SearchActivity"
            android:label="@string/search_title" />
        <activity
            android:name=".ui.features.NotificationsActivity"
            android:label="@string/notifications_title" />
        <activity
            android:name=".ui.features.MeetingPlanerActivity"
            android:label="@string/meeting_planner_title" />
        <activity
            android:name=".ui.features.ScheduleActivity"
            android:label="@string/schedule_title" />
        <activity
            android:name=".ui.calendars.ImportCalendarActivity"
            android:label="@string/import_calendar_title" />
        <activity
            android:name=".ui.helpers.HelpActivity"
            android:label="@string/help_title"/>
        <activity android:name=".ui.outsides.WelcomeActivity">
        </activity>

        <receiver
            android:name=".helper.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>